# This is a basic workflow to help you get started with Actions.

name: SQL-Deploy

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ github-action ]
  pull_request:
    branches: [ github-action ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!
        
      - name: setup-msbuild
        uses: microsoft/setup-msbuild@v2
        with:
          # Folder location of where vswhere.exe is located if a self-hosted agent
          vswhere-path: # optional
          # Version of Visual Studio to search; defaults to latest if not specified
          vs-version: # optional

      # msbuild on sql\wwi-dw-ssdt\WideWorldImportersDW.sqlproj
      - name: Run a multi-line script
        run: |
          msbuild.exe sql\wwi-dw-ssdt\WideWorldImportersDW.sqlproj /p:Configuration=Release /p:Platform=x64 /t:Rebuild /p:OutDir=.\bin\Release
          echo test, and deploy your project.
      
      - name: Azure SQL Deploy
        uses: Azure/sql-action@v2
        with:
          # Name of the Azure SQL Server name, like Fabrikam.database.windows.net.
          server-name: ${{ secrets.AZURE_SQL_SERVER }}
          # The connection string, including authentication information, for the Azure SQL Server database.
          connection-string: ${{ secrets.AZURE_SQL_CONNECTION_STRING }}
          # Path to DACPAC file to deploy
          dacpac-package: .\sql\wwi-dw-ssdt\bin\Release\WideWorldImportersDW.dacpac
          # Path to SQL script file to deploy
          sql-file: # optional
          # In case DACPAC option is selected, additional SqlPackage.exe arguments that will be applied. When SQL query option is selected, additional sqlcmd.exe arguments will be applied.
          arguments: /v:AppUserPassword=${{ secrets.AZURE_SQL_PASSWORD }} /v:ETLUserPassword=${{ secrets.AZURE_SQL_PASSWORD }}